doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Maglio Made
        link(rel="stylesheet", href="../css/mm.min.css")
        script(defer="defer", src="../js/libs/jquery.min.js")
        script(defer="defer", src="../js/childBrains.min.js")
    body(id="projectpage")
        include ./includes/header.jade
        div
            h1.title #{page.title}
        section.pictures
            div
                each pic in page.images
                    div
                        img(src="../" + page.baseURL + "medium/" + pic.src, alt=pic.hoverTitle)
                        div.caption
                            div
                                if ( (pic.url).match(/\.jpg/g) != null )
                                        h2.captionTitle #{pic.hoverTitle}
                                        a.styledButton.viewProjectLink(href="../" + page.baseURL + "full/" + pic.url) #{pic.hoverSubtitle}
                                else
                                        h2.captionTitle #{pic.hoverTitle}
                                        a.styledButton.viewProjectLink(href=pic.url) #{pic.hoverSubtitle}
        div.backNav
            a(href="../index.html#work", rel="prev") <img src="../images/Back-Arrow.svg" alt="Back Arrow" />Back to Work
        footer
            div
                img(src="../images/footerLogo.svg", alt="Footer Logo")
                p Copyright &copy; <span id="copyrightYear">2013</span> Mitchell Maglio <span>|</span> special thanks to Jim Holby