doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Maglio Made
        link(rel="stylesheet", href="../css/mm.css")
    body(id="projectpage")
        header
            div
                a(href="../index.html")
                    img(src="../images/magliomade-logo-icon.svg", alt="logo")
        div(class="title")
            h1 #{page.title}
            h2 #{page.description}
        section(class="pictures")
            div
                each pic in page.images
                    div(class="projectImage")
                        img(src="../" + page.baseURL + "medium/" + pic.src, alt=pic.hoverTitle)
                        div
                            if ( (pic.url).match(/\.jpg/g) != null )
                                a(href="../" + page.baseURL + "full/" + pic.url)
                                    h2 #{pic.hoverTitle}
                                    p #{pic.hoverSubtitle}
                            else
                                a(href=pic.url)
                                    h2 #{pic.hoverTitle}
                                    p #{pic.hoverSubtitle}
                            
        div(class="backNav")
            a(href="../index.html#work", rel="prev") <img src="../images/back-arrow.svg" alt="Back Arrow" />Back to Work
        footer
            div
                img(src="../images/footerLogo.svg", alt="Footer Logo")
                p Copyright &copy; 2013 Mitchell Maglio <span>|</span> special thanks to Jim Holby